@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);

  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);

  --fs-md: 0.875rem;

  --ff-montserrat: "Montserrat";
  --fw-medium-montserrat: 500;
  --fw-bold-montserrat: 700;

  --ff-fraunces: "Fraunces";
  --fw-fraunces-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--fs-md);
  font-family: var(--ff-montserrat), sans-serif;
  font-weight: var(--fw-medium-montserrat);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
